# Copyright 2024 KONGSBERG
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
#    this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its contributors
#    may be used to endorse or promote products derived from this software
#    without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND
# ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
# DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
# FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
# OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
# OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
---
Checks: 'modernize-*,
         bugprone-*,
         clang-analyzer-*,
         clang-diagnostic-*,
         performance-*,
         hicpp-*,
         concurrency-*,
         readability-*,
         -readability-function-cognitive-complexity,
         -readability-redundant-access-specifiers,
         -readability-qualified-auto,
         -readability-magic-numbers,
         -readability-implicit-bool-conversion,
         -readability-named-parameter,
         -readability-inconsistent-declaration-parameter-name,
         -readability-identifier-length,
         -readability-suspicious-call-argument,
         -performance-avoid-endl,
         -performance-enum-size,
         -modernize-use-trailing-return-type,
         -modernize-avoid-c-arrays,
         -modernize-use-nodiscard,
         -modernize-deprecated-headers,
         -modernize-macro-to-enum,
         -hicpp-no-array-decay,
         -hicpp-special-member-functions,
         -hicpp-vararg,
         -hicpp-signed-bitwise,
         -hicpp-named-parameter,
         -hicpp-avoid-c-arrays,
         -hicpp-deprecated-headers,
         -performance-inefficient-string-concatenation,
         -bugprone-easily-swappable-parameters,
         -bugprone-reserved-identifier,
         -bugprone-macro-parentheses'

CheckOptions:
   - { key: readability-identifier-naming.NamespaceCase,        value: lower_case }
   - { key: readability-identifier-naming.FunctionCase,         value: lower_case }
   - { key: readability-identifier-naming.VariableCase,         value: lower_case }
   - { key: readability-identifier-naming.ParameterCase,        value: lower_case }
   - { key: readability-identifier-naming.EnumConstant,         value: UPPER_CASE }
   - { key: readability-identifier-naming.GlobalConstantCase,   value: UPPER_CASE }
   - { key: readability-identifier-naming.PrivateMemberPrefix,  value: m_         }
   - { key: readability-identifier-naming.GlobalVariablePrefix, value: g_         }

WarningsAsErrors: ''

